@model IEnumerable<PlantillaMVC.Models.Tecnica>
@{
    Layout = null;
}
<html>
<head>
    <title>Anime</title>
</head>
<body>
    <br>
        <h4>Anime</h4> <a asp-controller="Home" asp-action="TecnicaAdd">Añadir Tecnicas</a> <a asp-controller="Home" asp-action="PersonajeAdd">Añadir Personajes</a>
</body>
</html>