@model IEnumerable<PlantillaMVC.Models.Tecnica>
@{
    Layout = null;
}
<html>
<head>
    <title>Anime</title>
</head>
<body>
    <h2>Qué desea visitar? </h2>
    <a asp-controller="Personaje" asp-action="Index">Personajes</a><br />
    <a asp-controller="Tecnica" asp-action="Index">Tecnicas</a>
</body>
</html>