}@model Compendium.Models.Personaje
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Creación de Personaje</title>
</head>
<body>
        <form asp-action="PersonajeAdd" method="post">
            <div class="form-group">
                <label asp-for="nombre">Nombre</label>
                <input asp-for="nombre" class="form-control" placeholder="Nombre" required />
            </div>
            <button type="submit">Añadir Personaje</button>
        </form>
</body>
</html>